<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="mainContent">
        {{>header}}
        <p>This site was created by WW and uses data from 2 APIs</p>
        <img class="portrait" src="img/aviao.png">
        </div>
        {{>footer}}
    </body>
</html>